footer{
    
    background-color: #f2f2f2;
    width: 100vw;
    height: 218px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    line-height: 40px;
}
.footer .container{


}
.footer article{
    display: flex;
    flex-direction: column;
    width: 25%;

}
.footer{
width: 1440px;
margin: auto;
display: flex;
flex-direction: row;
justify-content: space-between;
}