.logoHeader{
    width: auto;
    height: 45px;

    }
body > header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 42px 0 0 0;
    margin : 0px;
    width: 1340px;
    border-radius: 10px;
    text-align: center;
    

}
.menuBar{
    width: 435px;
    position: relative;
    top:0px;
    right: 50px;
}

.menuBar> ul{
    
    display:flex;
    justify-content: space-between;
    list-style: none;
    column-gap: 11px;
    width: 100%;
    
}
.menuBar a, .menuBar a:hover, .menuBar a:visited{
    color: black;
    text-decoration: none;
    padding: 54px 28px 0px 28px; 
}
.menuBar a:active{
    
    border-top: 2px solid black;
}

.menuBar a:hover{
    color: #0065FC ;
    border-top: 20px solid  #0065FC;            /* la taille de la bordure top est défini par la différence entre le padding du header et celui du menu*/
}