.header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin : 10px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.logoHeader{
    width: auto;
    height: 45px;

    }
body > header{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin : 10px;
    width: 1440px;
    border-radius: 10px;
    text-align: center;
}
.menuBar{
    width: 30vw;
}

.menuBar> ul{
    margin-left: 66px;
    display:flex;
    justify-content: space-between;
    list-style: none;
    
}
.menuBar a, .menuBar a:hover, .menuBar a:visited{
    color: #0065FC ;
    text-decoration: none;
}
.menuBar>a:active{
    color: bisque;
}
