*{
    margin: 0;
    padding: 0;
}

html{


}

body{
    width: 56vw;
    margin: auto;
}

img{
    width: 50px;
}

body > header{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px 0px 20px;
}
main{
    background-color: red;
    display: grid;
    margin: 20px;
}

footer{
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
}