/* On regroupe sur cette page tout les réglages commun a la page entiere, comme les couleurs utilisé et autres*/

*{
    margin: 0px;
    padding:0px;
}


.blue{
    color:#0065FC;
}

.Grey{
    color: #f2f2f2;
}
.darkGrey{
    color:#d9d9d9;
}

.backgroundGrey{
    background-color: #f2f2f2;
}
.bold{
    font-weight: bold;
}

.roundBorder{
    border-radius: 20px;
}

h1{
    font-size: 30px;
}
h2{
    font-size: 25px;
}
h3{
    font-size: 20px;
}

h4{
    font-size: 20px;
}
h5{
    font-size: 22px;
}

html{
 
    width: 100%;
    padding:0;
    margin: 0px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    /*width: 1440px;*/
    width: 100%;
    background-color: white;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 0;
   /* padding: 0px 50px 0px 50px ;*/
}

.card{
    box-shadow: 0px 0px 9px 3px rgba(217, 217, 217, .7);
    border-radius: 20px;
    background-color: white;
    display: flex;
}

.Link, .Link:visited, .Link:focus, .Link:link{
    outline:none;
    text-decoration: none;
    color: black;
}
main{
    width:  1340px;
}
img{
   image-rendering: auto;
   width: 100%; 

}

a:visited, a:link, a:focus{
    text-decoration: none;
    color: black;
}