@media screen and (max-width:760px) {
h1{
    font-size: 21px;
    font-weight: bold;
    word-wrap: normal;
    line-height: normal;
}
main{
    width: 100%;

}

body > header{
flex-direction: column;
    width:100%;
    border-radius: 0px;
    padding: 0;
    margin: 0;
    height:132px;
    justify-content: space-between;
    align-items: flex-start;

}
nav.menuBar{
    margin: 0;
    width: 100%;
    right: 0;
    height:51px;
}


.logoHeader{
    margin-left: 20px;
    margin-top: 28px;
    width: auto;
}

nav.menuBar ul{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    width: 100%;
    height: 51px;
    margin:0 !important;
    column-gap: 0;

    
}

nav.menuBar li{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    border-bottom: 3px solid #f2f2f2;
}
nav.menuBar a{
    
    height: 31px !important;
    width: 100%;
    justify-self: center;
    align-items: center;
    padding-top: 20px;
}
nav.menuBar a:hover{
    border-bottom: 3px solid blue;
    border-top: 0 !important;
    padding: 23px 0 0 0; 
}
body header .menuBar .sinscrire{
 
    position: absolute;
    top: -50px;
    right: 37px;
    border-bottom: none;
    padding:0;
    margin:0;
}
body header .menuBar .sinscrire a{
    width: auto;
    padding:0;
    margin:0;
}
body header .menuBar li.sinscrire {
    width: auto;
    padding:0;
    margin:0;
}
body header .menuBar .sinscrire :hover{
    border-bottom: 0;
}
.menuBar a, .menuBar a:hover, .menuBar a:visited{
padding: 0;
margin: 0;
}



section.research{
padding: 20px;
}
.fa-search{
    display: contents;
}
.texteRecherche{
    display: none;
}
.research .button{
    padding: 20px;
    width: auto;
}
.research .result{
    line-height: normal;
}
main .research .container.filter{

    flex-direction: row;
}

main .research .container.filter h3{
width: 90vw !important;
}

main .research .input .town{
    width: 100%;
}



.HouseAndPopular{
    width: 100% !important;
    
    margin: 0;
}

.HouseAndPopular section{
    width: 100%;
    padding:0;
}
.HouseAndPopular section header{


    padding:30px 20px 0 20px;
}
.HouseAndPopular section .afficherPlus{

    padding:20px 0 0 20px;
}
    

.housing h2{
    padding: 20px;
}
.housing .list{
    width: 100%;
        
}
.housing .Link{
    width: 100%;
}
.housing .card{
    width: 100%;
    padding: 0;
    
    height: auto;
    
}
.housing .image{
    width: auto;
}
.housing .list .card{
    margin:12px 20px 12px 20px ;
}




section.popular{
    border-radius: 0 !important;
    margin-bottom: 40px;
}
.popular .Link{
    width: 100% !important;
    min-width: 10px ;
}
.popular .card{
    
    margin: 12px 0 12px 0;
    width: auto;
    padding: 5px;
}
.popular .container{
    width: auto;
    margin: 20px;
    gap: 0;
}

.popular header{
    margin-top: 20px;
    padding: 10px;
}


section.activity{
    width: 100%;
    padding:0;
    margin: 0;
    align-items: center;
}

section.activity h2{
    align-self: flex-start;
    padding:20px;
}

section.activity div.container{
    width: 90%;
    padding:0;
    margin: 0;
}
section.activity article.card{
    width: 100%;
    padding:0;
    margin: 12px 0 12px 0;
}
footer{
    width: 100%;
    margin-top: 37px;
}
.footer{
    flex-direction: column;
    width: 100%;
    padding: 30px;
    line-height: 30px;
}
.footer article{
    width: inherit;
}

.footer h5{
    margin: 10px 0 10px 0;
}

}