@media screen and (max-width:1440px) {
    /*CSS code for devices with a maximal width of 720 px */

html{
width: 100%;
height: auto;
    
}

body{

    width:100%;
    height: auto;
    padding: 0;
    margin: 0;

}
main{
    width:90% ;
    height: auto;
}

body > header{
    width: 90vw;
    padding: 42px 0 0 0px;
}



.container.filter{
flex-wrap: wrap;
width: 100%;
}

.filter .list{
    margin-top: 10px;
}



.container.HouseAndPopular{
    flex-direction: column;
    justify-content: space-between;

    margin: 10px auto 10px auto;
    width: 90vw;
    height: auto;
    
    
}


.housing{                                               /* Cadre général*/

    width: auto;
    height: auto;
    margin-bottom: 25px;
    order: 2;
    
}


.housing .list{                                          /* Liste des hébergements */

    height: auto;
    justify-content: space-around;  

}
.housing .list .card{                                          /* Liste des hébergements */

    margin: 25px;
    width: auto;
}

.housing .list .Link{

    min-width: 50%;
}
.housing .list .card .image{
    width: auto;
}
.popular{
    background-color: #f2f2f2;
    width: auto;
    height: auto;
    border-radius: 20px;
    display: flex;

    justify-content: space-between;
    
    padding: 46px 35px 35px 35px;
    margin-bottom: 40px;
}
.popular header{
    padding-bottom: 35px;
}
.popular .container{
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.popular .Link{
    min-width: 286px;
    width: 30%;
    flex: 0.5 2 auto;
}
.popular .card{
    width: 100% ;
    margin: 0;

}
.popular .texte{
    width: 100% !important;
    line-height: normal;
    
}
.popular .starContainer{
    width: auto;
    flex-wrap: nowrap;

}
.activity .container{
    height: auto;
    width: 90vw;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.activity{
    height: auto;
    padding: 5px;
}
.activity .card{
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    

}
.activity .container  .image
{
    height: 134px !important;     /*Si l'on veut passer la spécificité, obligé de !important, sinon voir methode alt*/
}
/*
.activity .container .card:nth-child(2) .image
{
    height: 134px;
}
.activity .container .card:nth-child(3) .image
{
    height: 134px;
}
.activity .container .card:nth-child(4) .image
{
    height: 134px;
}
.activity .container .card:nth-child(5) .image
{
    height: 134px;
}
.activity .container .card:nth-child(6) .image
{
    height: 134px;
}
*/
.footer{
    width: 90vw;
 }
footer{
    margin: 0;
    padding: 0;
    height: auto;
    width: 100%;
}
}                                                           /* fin du media query */