@media screen and (max-width:760px) {




main{
    width: 100%;

}

section.research{
    margin: 20px;
    width:auto ;
}


.HouseAndPopular{
    width: 100% !important;
    
    margin: 0;
}


    .housing .list{
        width: 100%;
        
    }
    .housing .Link{
        width: 100%;
    }
    .housing .card{
        width: 100%;
        padding: 0;
        
        height: auto;
        
    }
    .housing .image{
        width: auto;
    }

    section.popular{
        border-radius: 0 !important;
    }
    .popular .Link{
        width: 100% !important;
    }
    .popular .card{
        margin: 12px 0 12px 0;
        min-width: 0 !important;
        width: 100% !important;
        padding: 5px;
    }
}