.research{
    margin: 10px 0 10px 0;
    padding: 10px 0 10px 0;
    line-height: 36px;;
}

.research header{
    padding: 10px 0 10px 0;
}


.research .input{
    display: flex;
    flex-direction: row;
    height: 50px;
    margin: 0px;
    padding: 10px 0 10px 0;

}
.research .town, .research .town:focus {
   outline: none;
    border-top: 2px solid #f2f2f2;
    border-right: none;
    border-bottom: 2px solid #f2f2f2;
    border-left: none ;
    text-align: center;
}
.research .input .logo{
    width: 52px;
    padding: 10px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    background-color: #f2f2f2;

}
.research .button{
    background-color: #0065FC;
    color: white;
    border:none;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    width: 134px;
}

.container.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px 0 20px 0;
}
.container.filter>*{
    margin-right: 24px;
    
}

.filter .logo{
    background-color: #DEEBFF;
    border-radius: 50%;
    border: 2px solid  #DEEBFF;
    display: flex;
    width: 46px;
    height: 46px;
    align-items: center;
    justify-content: center;
    padding:0px;
    margin:-4px; 

}
.filter .list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    height: 46px;
    border: 2px solid #d9d9d9;
    border-radius: 23px;
    z-index:1;
}
.filter .texte{
    margin: 10px;
}

.container.result{
    display: flex;
    flex-direction: row;
}
.result .logo{
    margin-right: 10px;
}