
#populaireSection{
    background-color: #f2f2f2;
    width: 420px;
    height: 625px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.populaireHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.PopulaireCadre{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;;
}
.PopulaireTexte{
    display: flex;
    flex-direction: column;
}

.PopulaireImg{

    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit: cover;
    height : 134px;
    width : 127px;
    
}
