
.popular{
    background-color: #f2f2f2;
    width: 339px;
    height: 545px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 46px 35px 35px 35px;
}
.popular header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.popular .card{
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    padding: 5px;
    margin: 10px;;
}
.popular .texte{
    display: flex;
    flex-direction: column;
}

.popular .image{

    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    object-fit: cover;
    height : 134px;
    width : 127px;
    
}
.popular .container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 498px;
}