
.activity .container{
    display: flex;
    flex-direction: row;
    height : 446px;
}

.activity .card{
    border-radius: 20px;
    box-shadow: 0px 10px 10px #f2f2f2;
    height: fit-content;
    
}
.activity .container .col{
    display: flex;
    flex-direction: column;
    height: 100%;
}
h4.activiteTexte{
    height: 46px;
}
.activity .image{
    width: 302px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
    height: available;
}

