.activity{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    margin: 50px 0 50px 0;
    justify-content: space-between;
    height: 500px;
}
.activity .container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* column-gap: 77px; */
    align-content: space-between;
    justify-content: space-between;
    height: 445px;

}

.activity .card{
    border-radius: 20px;
   /*  box-shadow: 0px 0px 6px 1px #e3e3e3; */
   
/* box-shadow: 0px 0px 6px 1px#000; */
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 302px;
}
.activity .card .image{
    width: 100%;
/*     align-self: stretch;
    justify-self: stretch; */
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.activity h4{
    height: 56px;
    line-height: 50px;              
    padding-left: 20px;
}
.activity .container .card:nth-child(1) .image
{
    height: 389px;
}
.activity .container .card:nth-child(2) .image
{
    height: 180px;
}
.activity .container .card:nth-child(3) .image
{
    height: 110px;
}
.activity .container .card:nth-child(4) .image
{
    height: 384px;
}
.activity .container .card:nth-child(5) .image
{
    height: 140px;
}
.activity .container .card:nth-child(6) .image
{
    height: 154px;
}
.card:hover{
    box-shadow: 0 0 0px 0px #d9d9d9;
/*  transform: scale(1.015); */
 transition: all ease .3s;
}
.card{
 /*    transform: scale(1); */
    transition: all ease .3s;
   }